/* Estilos por clase
.class {}

Estilos por ID
#id {} 

Estilos por etiqueta
etiqueta {}

Estilos por atributo
[atributo="valor"] {}

Estilos en línea - no deseado:
<div style="color: blue; font-size: 14px;">Texto con estilos en línea</div>
*/

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 5px;
}

.container {
    border: 2px dashed black;
    padding: 10px;
    margin-bottom: 30px;
    display: block;
}

.container .items {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.items {
    background: lightblue;
    border: 1px solid blue;
    padding: 5px;
    margin: 10px; 
}
